.artist-profile-navigation {
  margin: 24px 0;
  padding-top: 24px;

  &__previous,
  &__current {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &__previous:not(:first-of-type)::before,
  &__current::before {
    content: '•';
    color: black;
    margin-inline:  12px;
  }
}
